

/* .image {
  position: relative;
  width: 400px;

}

.img {
  display: block;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.85);
  color: rgb(255, 247, 247);
  font-family: 'Gestalt', Helvetica, Arial, Sans-serif;
  font-size: 15px;
  opacity: 0;
  display: flex;
    justify-content: left;
    align-items: flex-end;
  filter: blur(4);
}

.overlay:hover {
  opacity: 1;
  transition: 0.5s ease;
  filter: blur(0);
}

p {
  margin: 25px;
}

.container {
  height: 100vh;
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
 }
 
 .header {
  margin: 0.25rem 0;
  font-size: 2.5rem;
 }
 
 p {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 4px;
 }
  */
 
 /* animation class and keyframes */
 /* .overflow-hidden {
  overflow: hidden;
 }
 
 .drop-in {
  animation: drop-in 1s ease 200ms backwards;
 }
 
 .drop-in-2 {
  animation: drop-in 1200ms ease 500ms backwards;
 }
 
 @keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 } */


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */

body {
  padding: 0;
  margin: 0;
}

 section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
 }

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(5px);
  transform: translateY(100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}