body {
  margin: 0;
  font-family: 'Gestalt', Helvetica, Arial, Sans-serif;
  cursor:  url(../assets/cursor/upcursor.svg), auto;
  /* background-color: #EDC956; */
}


/* removes selecting of elements */
* {
  user-select: none !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  padding: 8px;
  text-align: center;
  font-size: 150px; /*5.25vw*/
  letter-spacing: 0.1vw;
  margin: 0;
  display: block;
}

h2 {
  font-size: 100px;
  padding: 3px;
  text-align: center;
  margin: -10px;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

/* Underline */
a:hover {
  /* color: #EDC956; */
  text-decoration: underline;
  text-decoration-thickness: 7px;
  text-underline-offset: 11px;
}

/* Slide text transition on hover*/
.inner, .title {
  transition: 0.3s;
}

.inner {
  height: 170px;
  overflow: hidden;
  width: auto;
}

.title {
  margin-top: 0em;
}

.inner:hover .title{
  margin-top: -160px;
}

/* Colour Navbar */
#paintBoard a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 0 10px 0 0;
}


#paintBoard {
  position: fixed;
  z-index: 5;
  bottom: 30px;
  right: 30px;
}

.illustration-block {
  width: 439px;
  height: 439px;
  margin: 20px;
  padding-bottom:20px
  display: flex;
  justify-content: center;
}

/* Grid Container for works */
/* .container {
  display: flex;
  justify-content: center;
  margin: 80px;
  gap: 30px
}

.work {
  width: 439px;
  height: 439px;
  transition: 300ms ease;
  background-color: green;
} */

.container {
  display: grid;
  grid-gap: 20px;
  margin-top: -80px;
  padding: 80px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(1, 1fr); 
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(2, 1fr); 
  }

  .work {
    /* padding: 16px;  */
    transition: 300ms ease;
    /* background-color: green; */
  }
} 

.work:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
}

.work img {
  width: 627px;
  height: 470px;
  object-fit: cover;
}

.unselectable {
  pointer-events: none;
}