* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none !important;
}

body {
  /* padding: 200px;
  margin: 10px; */
  font-family: 'Gestalt', Helvetica, Arial, Sans-serif;
  cursor:  url(../assets/cursor/upcursor.svg), auto;
}


.banner-area {
  width: 100%;
  height: 100vh;
  background: url(../assets/henry/henrymockup.png);
  background-size: cover;
}

.banner-area-jojo {
  width: 100%;
  height: 100vh;
  background: url(../assets/jojo/Rabbit_Pop_Redo.gif);
  background-size: cover;
}

.banner-area-pointeight {
  width: 100%;
  height: 100vh;
  background: url(../assets/pointeight/pointeight_logo.png);
  background-size: cover;
}

span {
  font-size: 12vw;
}

span.smalltitle {
  font-size: 11vw;
}


.container {
  width: 70%;
  margin: 70px auto;
  margin-bottom: 7;
  padding: 10px;
}

.row {
  margin-top: 26px;
  display: flex;
}

.column {

  flex: 1 2 240px;
  padding: 10px;

}

.italics {
  font-style: italic;
}


.centerImg {
  display: block;
  margin: auto;
  padding: 70px;
  max-width: 1300px;
  /* width: 100% !important; */
  object-fit: contain;
}

/* left navbar */
.left-nav {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 50%;
  height: 110px;
  width: 40px;
  transform: translateY(-50%);
  /* transition: 0.5s ease; */
}


.left-nav h4 {
  writing-mode: vertical-rl;
      /* transform: rotate(-180deg); */
  color: #00000070;
  letter-spacing: 1.2px;
  text-align: center;
  height: 110px;
  float: right;
  padding: 20px;
  transform: translateX(-10%);

  font-size: 0.8vw;
  line-height: 0;
  font-weight: 400;
  font-style: normal;

  display: block;
  margin-block-start: -1.3em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* .left-nav a {
  text-decoration: none;
} */


a {
  background-color: transparent;
}

/* right navbar */
.right-nav {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 50%;
  height: 110px;
  width: 40px;
  transform: translateY(-50%);
  /* transition: 0.5s ease; */
}

.right-nav h4 {
  writing-mode: vertical-rl;
        /* transform: rotate(0deg); */
        transform: translateX(-10%);
  color: #00000070;
  letter-spacing: 1.2px;
  text-align: center;
  height: 110px;
  float: right;
  padding: 20px;

  font-size: 0.8vw;
  line-height: 0;
  font-weight: 400;
  font-style: normal;

  display: block;
  margin-block-start: 1.3em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.left-nav h4:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
  color: #000;
}

.right-nav h4:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transition: 0.5s ease;
  color: #000;
}

p {
  font-weight: 300;
}

#italics {
  font-size: 20px;
  font-style: italic;

}
/* left arrow */
/* .left-nav .arrow-left {
  transform: rotate(-135deg);
}

.left-nav .arrowleft {
  top: calc(50% - 7.5px);
  right: calc(50% - 7.5px);
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
} */

/* right arrow */
/* .right-nav .arrow-right {
  transform: rotate(45deg)
}

.right-nav .arrowright {
  top: calc(50% - 7.5px);
  right: calc(50% - 7.5px);
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}  */

/* img {
  pointer-events: none;
} */

