* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none !important;
  pointer-events: none;
  cursor:  url(../assets/cursor/upcursor.svg), auto;
}

body {
  /* padding: 200px;
  margin: 10px; */
  font-family: 'Gestalt', Helvetica, Arial, Sans-serif;
}

.banner-area {
  width: 100%;
  height: 100vh;
  background: url(../assets/henry/henrymockup.png);
  background-size: cover;
}

span {
  font-size: 17vw;
}

/* p {
  display: block;
  margin-block-start: 4em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section {
  display: grid;
  place-items: left;
  align-content: center;
  min-height: 100vh; 
} */

.hidden {
  opacity: 0;
  filter: blur(1px);
  transform: translateY(300px);
  transition: all 1s ease;

}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0px);
}

h1 {
  font-size: 17vw;
}

.row {
  margin-top: 26px;
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;

}

.italics {
  font-style: italic;
}

.container {
  width: 70%;
  margin: 50px auto;
  padding: 10px;
}

.centerImg {
  display: block;
  margin: auto;
  padding: 50px;
  max-width: 1300px;
  /* width: 100% !important; */
  object-fit: contain;
}

/* side nav-bar */
.left-nav {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 50%;
  height: 110px;
  width: 40px;
  transform: translateY(-50%);
  transition: 0.5s ease;
}

.left-nav h4 {
  writing-mode: vertical-rl;
  color: #000;
  letter-spacing: 1.2px;
  text-align: center;
  height: 110px;
  float: right;
  padding: 20px;
  transform: translateX(50%);

  font-size: 1vw;
  line-height: 0;
  font-weight: 400;
  font-style: normal;
}

h4 {
  display: block;
  margin-block-start: 0.9em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

