body {
  padding: 200px;
  margin: 10px;
  font-family: 'Gestalt', Helvetica, Arial, Sans-serif;
}

span {
  font-size: 17vw;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

section {
  display: grid;
  place-items: left;
  align-content: center;
  min-height: 100vh;

}

.hidden {
  opacity: 0;
  filter: blur(1px);
  transform: translateY(300px);
  transition: all 1s ease;

}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0px);
}
